@import './variable';
@import './mixins';
@import './materialize.scss';

.brand-logo{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    height: 50%;
  }
}

.nav-wrapper {
  padding-left: 20px;
}

#body{
  height: 100vh;
  background-image: url('~@/assets/images/committee.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.fontchange{
    font-family: 'rockwell';
    font-weight: bold;
    font-size: 110px;
    color: rgb(0, 102, 255);
    padding-top: 85px;
    padding-left: 20px;
    
}
.fontedit{
  text-align: center;
  font-size: 16px;
}


