@import './variable';
@import './mixins';
@import './materialize.scss';


.brand-logo{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    height: 50%;
  }
}

.nav-wrapper {
  padding-left: 20px;
}

.primary-bg {
  background-color: $primary-color;
}